# This is a basic workflow to help you get started with Actions

name: Vuepress Build

# Controls when the action will run.
on:
  push:
    branches:
      - "**" # matches every branch
      - "!gh-pages"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  yarn-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Run yarn build
        run: yarn && yarn build
